.bg-green-gradient{
    background: -webkit-linear-gradient(top, rgb(98, 201, 132) 0%, rgba(24, 217, 149, 0.95) 100%);
    border-radius: 20px;
    width: auto;
    height: 450px;
}

.h1-intro{
    font-family: "Baloo 2";
    font-size: 48px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.h2-intro{
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}